/* Coolors Exported Palette - coolors.co/ff1800-00e7ff-000000-080808-363537 */

/* RGB */
$highlight-primary: rgba(255, 24, 0, 1);
$highlight-secondary: rgba(0, 231, 255, 1);
$primary: rgba(8, 8, 8, 1);
$secondary: rgba(54, 53, 55, 1);
$tertiary: rgb(250, 250, 250);